map $http_user_agent $is_bot {
    default 0;
    ~*naverbot|yeti|daumoa|kakaotalk-scrap 1;
    ~*googlebot|slackbot|facebookexternalhit|twitterbot|discordbot|applebot 1;
}

server {
    listen 80;
    server_name 127.0.0.1;

    resolver 127.0.0.11 valid=10s ipv6=off;
    resolver_timeout 5s;

    proxy_http_version 1.1;
    proxy_set_header Connection "";
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;

    location /api {
        set $be_upstream ${BE_HOST};
        proxy_pass http://$be_upstream;
    }

    location / {
        set $fe_upstream ${FE_HOST};
        set $be_upstream ${BE_HOST};

        if ($is_bot) {
            proxy_pass http://$be_upstream/og$request_uri;
            break;
        }

        proxy_pass http://$fe_upstream;
    }
}
